<head>
    <link href="~/Areas/Admin/css/NotFound.css" rel="stylesheet" />
</head>

<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="main">
    <h1>404</h1>
    <p>It looks like you're lost...<br />Page Not Found</p>
    <button onclick="history.back(-1)" type="button">Go back</button>
    <button href="/PdfManagerArea/Home/Index/" type="button">Home</button>
</div>