@{
    Layout = null;
}

<head>
    <link rel="canonical" href="@Common.GetPath.GetDomainHttps()/open-link/" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo/66-modified.png" />
    <title>Pdf Converter | Open Pdf</title>
</head>


<!-- start main -->
<main>

    <iframe src="@ViewBag.FileFullPath"
            frameBorder="0"
            scrolling="auto"
            height="100%"
            width="100%"></iframe>

</main>
<!-- end main -->