@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Areas/PdfManagerArea/Views/Shared/_Adminlayout.cshtml";
}
<head>
    <link rel="shortcut icon" type="image/png" href="~/images/logo/66-modified.png">
    <title>PdfConverter | Admin-DashBoard</title>
</head>

<style>
    body {
        align-items: center;
        background-color: var(--blue);
        background: url("/Areas/Admin/images/New_A.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        height: 100vh;
        place-items: center;
    }

</style>